.pricing {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

.wrapper{
    max-width: 1090px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    .table {
        background: #fff;
        width: calc(33% - 20px);
        padding: 30px 30px;
        position: relative;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
}

.price-section {
    display: flex;
    justify-content: center;
    .price-area{
        height: 120px;
        width: 120px;
        background: #ffd861;
        border-radius: 50%;
        padding: 2px;
        .inner-area{
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: 3px solid #fff;
            color: #fff;
            line-height: 117px;
            text-align: center;
            position: relative;
            .text{
                font-size: 25px;
                font-weight: 400;
                position: absolute;
                top: -10px;
                left: 17px;
            }
            .price{
                font-size: 55px;
                font-weight: 500;
            }
        }
    }
} 

.table {
    .package-name{
        width: 100%;
        height: 2px;
        background: #ffecb3;
        margin: 35px 0;
        position: relative;
    }
    .package-name::before{
        position: absolute;
        content: "Basic";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        font-size: 25px;
        padding: 0 10px;
        font-weight: bolder;
    }
    .features {
        li {
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            .list-name{
                font-size: 17px;
                font-weight: 400;
            }
            .icon{
                font-size: 15px;
            }
            .icon.check{
                color: #2db94d;
            }
            .icon.cross{
                color: #cd3241;
            }
        }  
    }
    .pricebtn{
        display: flex;
        justify-content: center;
        margin-top: 35px;
        button{
            width: 80%;
            height: 50px;
            font-weight: 700;
            color: #fff;
            font-size: 20px;
            border: none;
            outline: none;
            border-radius: 25px;
            cursor: pointer;
            transition: all 0.3s ease;
        }
    } 
}

.Basic {
    .price-area {
        background: #ffd861;
    }
    .package-name{
        background: #ffecb3;
    }
    .package-name::before{
        content: "Basic";
    }
    .inner-area{
        background: #ffd861;
    }
    .pricebtn {
        button{
            background: #fff;
            color: #ffd861;
            border: 2px solid #ffd861;
        }
        button:hover{
            border-radius: 6px;
            background: #ffd861;
            color: #fff;
        }
    }
}

.Premium {
    .price-area {
        background: #a26bfa;
    }
    .package-name {
        background: #a26bfa;
    }
    .package-name::before{
        content: "Premium";
    }
    .inner-area {
        background: #a26bfa;
    }
    .pricebtn {
        button {
            background: #fff;
            color: #a26bfa;
            border: 2px solid #a26bfa;
        }
        button:hover {
            border-radius: 6px;
            background: #a26bfa;
            color: #fff;
        }
    }
}

.Ultimate {
    .price-area {
        background: #43ef8b;
    }
    .package-name {
        background: #43ef8b;
    }
    .package-name::before {
        content: "Ultimate";
    }
    .inner-area {
        background: #43ef8b;
    }
    .pricebtn {
        button {
            background: #fff;
            color: #43ef8b;
            border: 2px solid #43ef8b;
        }
        button:hover {
            border-radius: 6px;
            background: #43ef8b;
            color: #fff;
        }
    }
}

@media (max-width: 1020px){
    .wrapper {
        .table{
            width: calc(50% - 20px);
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 698px){
    .wrapper {
        .table{
            width: 100%;
        }
    }
}